<h1>{{ title }}</h1>

<div>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" [(ngModel)]="name" matInput />
    </mat-form-field>    
    <mat-form-field>
        <mat-label>Trial</mat-label>
            <input type="text" [(ngModel)]="trial" matInput />
    </mat-form-field>
</div>
<div>
    <button (click)="AddVolunteer()" mat-raised-button>
        Add a new Volunteer
    </button>
    <button (click)="DeleteVolunteer()" mat-raised-button>
        Delete a Volunteer
    </button>
</div>

<div *ngFor="let vol of volunteerArray">
    {{vol.name}} : {{vol.trial}}
</div>